body{
    background-color: rgb(149, 108, 158);
    margin: 0;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 8px;
}

p{
    margin-left: 16px;
}

.description{
    background-color: aqua;
    margin: 0;
    padding-left: 16px;
}

#starcraft{
    background-color: rgb(47, 47, 141);
}

#sub-body{
    background-image: url(ni.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#minecraft{
background-color: green;

}
ul{
    list-style: none;
    display: flex;
    gap: 20%;
    font-family: fantasy;
    font-size: 35px;
    background-color: rgb(34, 187, 210);
    background-size: 100px;
    margin:0;
    height: 100px;
    align-items: center;
    padding-right: 8px;
    padding-left: 18px;
    border-radius: 20px;
}

#hem{
    max-width: 200%;
    max-height: 200%;
    padding: 0px;
}

#sc{
    max-width: 200%;
    max-height: 200%;
}

#mc{
    max-width: 200%;
    max-height: 200%;
}

#subn{
    max-width: 200%;
    max-height: 200%;
}

footer{
    padding-left: 18px;
    background-color: rgb(9, 3, 55);
    
}

#tab{
    padding-left: 50px;
}

main{
    width: 75%;
    margin:0 auto;
    background-color: seagreen;
    padding: 20px;
    min-height: 100vh;
    border-radius: 60px;
}