h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
    display: flex;
    gap: 20%;
    font-family: fantasy;
    font-size: 35px;
    background-color: rgb(9, 3, 55);
    background-size: 100px;
}

body{
    background-color: rgb(47, 47, 141);
}